/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}



.demo-table {
    width: 100%;
}

.button-container {
    padding-bottom: 16px;
}

.demo-button + .demo-button {
    margin-left: 8px;
}

.mini-table-container {
    overflow: auto;
    position: relative;
    min-height: 200px;
    max-height: 200px;
}

.full-width {
    width: 100%;
}

td {
    padding-right: 8px;
}