<app-toolbar></app-toolbar>

<div class="form-container">

    <form class="form-login">

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput>
            <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput>
            <mat-icon matSuffix>lock_open</mat-icon>
        </mat-form-field>

        <button mat-raised-button color="primary">Login</button>

    </form>

</div>