<app-toolbar></app-toolbar>

<div class="container">

    <form class="form-login" [formGroup]="loginFormGroup">

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Username</mat-label>
            <input type="text" formControlName="username" matInput>
        </mat-form-field>

        <mat-form-field *ngIf="!fieldTextType" class="full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" formControlName="password" matInput>
            <button matSuffix mat-icon-button (click)="toggleFieldTextType()">
                <mat-icon>lock_open</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field *ngIf="fieldTextType" class="full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="text" formControlName="password" matInput>
            <button matSuffix mat-icon-button (click)="toggleFieldTextType()">
                <mat-icon>lock</mat-icon>
            </button>
        </mat-form-field>

        <button mat-raised-button [disabled]='!loginFormGroup.valid' color="primary" (click)="login(loginFormGroup.value)">Login</button>

    </form>

</div>