<form class="example-form" [formGroup]="newRoomTypeFormGroup">

    <table class="full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Room type</mat-label>
                    <input type="text" matInput formControlName="roomType">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Price</mat-label>
                    <input type="number" matInput formControlName="price">
                </mat-form-field>
            </td>
        </tr>
    </table>
    <button *ngIf="!showSpinner" mat-raised-button color="primary" [disabled]='!newRoomTypeFormGroup.valid' (click)="addNewRoomType(newRoomTypeFormGroup.value)">Save</button>
    <mat-spinner [diameter]="50" *ngIf="showSpinner"></mat-spinner>

</form>