<form class="example-form" [formGroup]="newRoomFormGroup">

    <table class="full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Room number</mat-label>
                    <input type="text" matInput formControlName="roomNumber">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Room type</mat-label>

                    <mat-select formControlName="roomType" formControlName="roomType">
                        <mat-option *ngFor="let item of roomTypes" value="{{ item.id }}">{{ item.roomTypeName }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </tr>
    </table>
    <button *ngIf="!showSpinner" mat-raised-button [disabled]='!newRoomFormGroup.valid' color="primary" (click)="addNewRoom(newRoomFormGroup.value)">Save</button>
    <mat-spinner [diameter]="50" *ngIf="showSpinner"></mat-spinner>
</form>